# Copy this to .env and fill in your values
# NEVER commit .env to git

MONGO_URI=mongodb+srv://mirajbiswabанglasocialnetworki_db_user:Gtc0cmcuYBHRaSzp@cluster0.grln39e.mongodb.net/zanDB?retryWrites=true&w=majority
ADMIN_PASSWORD=yourMiraj9635@
PORT=5000
